.dashboard__header__name{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--light-color);
    border: 1px solid var(--border-color);
    border-radius: 10px;
    padding: 10px 20px;
    margin: 50px 0px;
    box-shadow: var(--shadow);
}
.dashboard__header__name>h2{
    margin-top: 5px;
}
.dashboard__header__name>a{
    color: rgba(0, 0, 0, 0.603);
    text-decoration: none;
}
.dashboard__header__name>a:hover{
    color: rgb(0, 0, 0);
    
}

.dropdown__style{
    width: 60px;
    height: 40px;
    background-color: var(--secondary-color);
    color: white;
    border-radius: 7px;
    border: none;
    transition: all 0.3s ease-in;
}

.dropdown__style:hover{
    background-color: var(--accent-color);
    color: white;
    border: 1px solid var(--accent-color);
    transform: translateY(-2px);
}